APP_NAME=Edully
APP_ENV=staging
APP_KEY=
APP_DEBUG=true
APP_URL=http://homolog.agendaedully.com.br
APP_HOST=homolog.agendaedully.com.br

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=edully_staging
DB_USERNAME=edully
DB_PASSWORD=troque-esta-senha-staging
DB_SCHEMA=escola,laravel,saas,shared

SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=database
CACHE_STORE=database

FILESYSTEM_DISK=local
MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@agendaedully.com.br"
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=true
